<div class="p-3 bg-danger-subtle border border-danger-subtle rounded-3 position-absolute top-50 start-50 translate-middle">
    <form class="row g-3 needs-validation" id="changeForm">
        <div class="form-floating">
            <input name="newPassword" type="password" class="form-control" id="newPassword" required>
            <label for="newPassword">Nueva contraseña</label>
        </div>
        <div class="form-floating">
            <input name="newPassword2" type="password" class="form-control" id="newPassword2" required>
            <label for="newPassword2">Repita su nueva contraseña {{email}}</label>
        </div>
        <input type="submit" class="btn btn-outline-danger">
    </form>
</div>
<script src="/js/changePassword.js"></script>