<div class="container mt-4">
    <form class="row g-3 needs-validation" id="ProductForm">
        <div class="form-floating mb-1">
            <input name="title" type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">title</label>
        </div>
        <div class="form-floating mb-1">
            <input name="description" type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">description</label>
        </div>
        <div class="form-floating mb-1">
            <input name="price" type="number" class="form-control" id="floatingInput">
            <label for="floatingInput">price</label>
        </div>
        <div class="form-floating mb-1">
            <input name="thumbnail" type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">thumbnail</label>
        </div>
        <div class="form-floating mb-1">
            <input name="code" type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">code</label>
        </div>
        <div class="form-floating mb-1">
            <input name="stock" type="number" class="form-control" id="floatingInput">
            <label for="floatingInput">stock</label>
        </div>
        <div class="form-floating mb-1">
            <input name="category" type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">category</label>
        </div>
        <input type="submit" class="btn btn-outline-success">
    </form>
</div>
<script src="/js/crear.js"></script>