<div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Para entrar a nuestra página usando GitHub</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><a href="/api/jwt/github">Clickea acá</a></h6>
        <p class="card-text">¿No querés usar Github? Entonces:</p>
        <a href="/api/users/register" class="card-link">Registrarme</a>
        <a href="/api/users/login" class="card-link">Ya tengo una cuenta</a>
    </div>
</div>