<div class="container-md mt-4">
    <form class="row g-3 needs-validation" id="loginForm">
        <div class="form-floating mb-3">
            <input name="email" type="email" class="form-control" id="floatingInput" required>
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" required>
            <label for="floatingPassword">Contraseña</label>
        </div>
        <input type="submit" class="btn btn-outline-success">
    </form>
    <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
    <p>¿Tenés cuenta de Github? <a href="/github/login">Logeate por Github</a></p>
</div>
<script src="/js/login.js"></script>