<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>Nombre: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <button class="btn btn-outline-secondary" onclick="cambiarRol('{{user.id}}')">Cambiar rol</button>
</div>
<script src="/js/rol.js"></script>